.content{
    width: 100vw;
}
.nav-content{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.nav-icon{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}
.nav-icon p{
    font-size: 30px;
    font-weight: 500;
}
.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#link{
    text-decoration: none;
    color: black;
}
.login-cart{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.login-cart p{
    border: 1px solid gray;
    padding: 10px 25px;
    border-radius: 20px;
}
.login-cart p:hover{
    background-color: gray;
    color: white;
}
.cart-item{
    width: 22px;
    height: 22px;
    margin-top: -6px;
    margin-left: -16px;
    background-color: #ff4141;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-image{
    display: flex;
}
.nav-links hr{
    height: 3px;
    background:#ff4141;
    border-radius: 15px;
    border: none;
}

